<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Catalogo de productos</h1>
    <p>Welcome to <%= subtitle %></p>
  </body>
</html>
