<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	
      <nav>
          <ul>
              <a href="/"><li>Home</li></a>
              <a href="/productos/catalogo"><li>Catalogo</li></a>
              <a href="/usuarios/registro"><li>Registro</li></a>
              <a href="/usuarios/login"><li>Login</li></a>
          </ul>
      </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
