<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	 <nav>
          <ul>
              <a href="/"><li>Home</li></a>
              <a href="/productos/catalogo"><li>Catalogo</li></a>
              <a href="/registro"><li>Registro</li></a>
              <a href="/login"><li>Login</li></a>
          </ul>
      </nav>
    <h1>Catalogo de productos</h1>
    <p>Welcome to </p>
  </body>
</html>