<!DOCTYPE html>
<html>
  <head>
    <title>registrado</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

          <% if(resultado[0].lenght == 0) { %>
              <p>error ya esta registrado</p>

          <% }; %>
     <nav>
         
          <ul>
              <a href="/"><li>Home</li></a>
              <a href="/productos/catalogo"><li>Catalogo</li></a>
              <a href="/usuarios/registro"><li>Registro</li></a>
              <a href="/usuarios/login"><li>Login</li></a>
          </ul>
      </nav>
    <h1>Catalogo de productos</h1>
    <p>Welcome to </p>
  </body>
</html>